/bin/*.err
/bin/*.pid
/bin/*.log
/bin/*.exe
/bin/*.bak
/bin/*.exe~
/bin/*.exe
/bin/*.cpu
/bin/*.memory
/bin/ddz
/bin/ddz_rr
/bin/ddz_ai
/bin/game
/bin/router
/bin/client
/bin/exporter
/bin/exporter_map
/bin/runtime
/bin/node_modules
/bin/nodet.js
/pkg
/src/gopkg.in
/src/github.com
/src/test
/plan/json
/plan/lua
/plan/exporter.exe
/plan/exporter_map.exe
/gotest.go
/src/public/protocol/proto/FILES
/.vscode
note.txt
vendor
