/bin/*.log
/bin/*.exe
/bin/*.exe~
/bin/*.cpu
/bin/*.memory
/bin/game
/bin/router
/bin/client
/bin/exporter
/bin/exporter_map
/pkg
/src/gopkg.in
/src/github.com
/src/test
/plan/json
/plan/lua
/plan/exporter.exe
/plan/exporter_map.exe
/gotest.go
/src/public/protocol/proto/FILES
/web/node_modules